body{
	background-color:#283C6E;
}

a{
	color: #b7ab7d;
}

.square{
	height: 30px;
    width: 30px;
    background: #6864ed;
}

#header ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

#header li {
	margin-left:2px;
	float:left;
}

#header img {
	display:block;
	float:left;
	width:100px;
	height:100px;
}

#header ul li a {
	display:block;
	float:left;   
	width:170px;
	height: 43px;
	padding-top: 7px;
	background-color:#6495ED;
	text-decoration:none;
	text-align:center;
	padding:10px;
	#border:2px solid;
	border-radius: 10px;
	
	font-family: Arial,sans-serif;
	font-size: 1.6em;
	color: #b7ab7d;
}

#header ul li a:hover {
	color: #B7AB70;
}



